*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    height: 32px;
    background-color: wheat;
}

.logo{
    display: flex;
    align-items: center;
}

.righttop{
    display: flex;
    
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 16px;
    align-items: center;
    /* border: 3px solid blue; */
}

.hero{
    flex: display;
    border: 3px solid blue;
    padding: 24px;
    height: 32px;
}

.ironman{
    display: flex;
    border: 3px solid blue;
    padding: 24px;
    align-items: center;

    
}

.im{
    display: flex;
    width: 60%;
    height: auto;
}

.ironman1{
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-content: center;
    justify-items: center;
    /* align-items: center; */
}
.learn1{
    display: flex;
    font-size: 1cm;
}

.learn2{
    display: flex;
    font-size: 0.7cm;
    align-items: center
}